<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BazarSur</title>
  <!-- Favicon -->
  <link rel="icon" href="/images/img/favicon.bazar.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header>

  </header>
  <form action="https://formspree.io/f/xeoqkyjr" method="POST" enctype="multipart/form-data" name="formulario">
    <h2>
      Formulario de Contacto
    </h2>

    <!-- Simple Inputs -->
    <div class="form_input">
      <fieldset>
        <legend>INFORMACIÓN BÁSICA</legend>
        <input type="text" placeholder="Nombre " id="nombre" name="nombre"required>
        <input type="text" placeholder="Apellido" id="apellido" name="apellido" required>
        <input type="number" placeholder="Edad" id="edad" name="edad" required>
      </fieldset>

      <fieldset>
        <legend>INFORMACIÓN DE CONTACTO</legend>
        <input type="email" placeholder="Email" id="email" name="email" required>
        <input type="tel" placeholder="Telefono" id="telefono" name="telefono" required>
      </fieldset>


    </div>


    <!-- Select & option -->
    <div class="form_input">
      <label for="pieza">¿Qué pieza deseas restaurar?
        <select id="pieza" name="pieza" required>
          <option value="Cacerola">Seleccionar</option>
          <option value="Cacerola">Cacerola de 24cm a 26cm</option>
          <option value="Cacerola">Sarten de 24cm a 26cm</option>
          <option value="Cacerola">Bifera de 26cm a 29cm</option>
          <option value="Cacerola">Paellera/Pizzera/Ovalada de 30cm a 33cm</option>
          <option value="Cacerola">Cacerola Doble/Sarten Doble de 24cm a 30cm</option>
          <option value="Cacerola">Cuadrada/Olla/Rectangular de 28cm a 30cm</option>
          <option value="Cacerola">Jarro/Pava/Cafetera</option>
          <option value="Cacerola">Tostador Simple/Doble</option>
          <option value="Cacerola">Budinera u otros complementos</option>
        </select>
      </label>
    </div>




    <!-- Datalist & Option -->
    <div class="form_input">
      <label for="referente">¿Por dónde nos conociste?
        <input list="referente" name="referente" required>
        <datalist id="referente">
          <option value="Red Social">Instagram/Facebook</option>
          <option value="Recomendacion familiar">Un Amigo/familiar</option>
          <option value="Recomendacion Empresa">Una empresa/Negocio</option>
      </label>
      </select>
    </div>

    <!-- Textarea -->
    <div class="form_input">
      <label for="mensaje">Mensaje
        <textarea placeholder="Deja tu mensaje..." id="mensaje" name="mensaje" required></textarea>
      </label>
    </div>

    <div class="form_input">
      <label for="terminos">Acepto <a href="/template/terminos.html" target="_blank">Terminos y Condiciones</a>
        <input type="checkbox" class="checkbox" id="terminos" name="terminos">
      </label>
    </div>

    <div><button type="submit" id="b1">Enviar</button></div>
  </form>
  <br>
  <br>

  <script>

  </script>


  <footer class="footer">


  </footer>

  <script src="/js/header.js"></script>
  <script src="/js/footer.js"></script>

</html>