<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BazarSur</title>
    <!-- Favicon -->
    <link rel="icon" href="/images/img/favicon.bazar.ico">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header>
    </header>

    <main class="products container" id="lista-1">

        <h2>Piezas restauradas a la venta</h2>

        <div class="product-content">
        </div>
    </main>

    <footer class="footer">
    </footer>

<script src="/js/header.js"></script>
<script src="/js/footer.js"></script>
<script type="module" src="/js/productos.js"></script>

</body>
</html>