<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BazarSur</title>
    <!-- Favicon -->
    <link rel="icon" href="/images/img/favicon.bazar.ico">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header>
    </header>

    <main class="products container" id="lista-1">

        <h2>Piezas restauradas a la venta</h2>

        <div class="product-content">
            <div>
                <img src="/images/fotos/bifera29cm.jpg" alt="imagen1">
                <div class="product-txt">
                    <h3>bifera 29cm</h3>
                    <p class="cantidad">En Stock: 100</p>
                    <p class="precio">$1</p>
                    <a href="#" class="agregar-carrito btn-2">Agregar al carrito</a>
                </div>
            </div>

            <div>
                <img src="/images/fotos/cacerola18cm.jpg" alt="imagen1">
                <div class="product-txt">
                    <h3>cacerola 18cm</h3>
                    <p class="cantidad">En Stock: 50</p>
                    <p class="precio">$9</p>
                    <a href="#" class="agregar-carrito btn-2">Agregar al carrito</a>
                </div>
            </div>

            <div>
                <img src="/images/fotos/paellera30cm.jpg" alt="imagen1">
                <div class="product-txt">
                    <h3>paellera 30cm</h3>
                    <p class="cantidad">En Stock: 60</p>
                    <p class="precio">$10</p>
                    <a href="#" class="agregar-carrito btn-2">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
    </footer>

<script src="/js/header.js"></script>
<script src="/js/footer.js"></script>
<script src="/js/carrito.js"></script>
</body>
</html>